In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('Salaries.csv')
df.head()

C:\Users\hp\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

### What is an average base pay?

In [22]:
df.replace(["Not Provided", 'Not provided'], np.nan, inplace = True)
df["BasePay"].astype(float).mean()

66325.4488404877

### What is the higest amount of OverTimePay in dataset?

In [23]:
df['OvertimePay'].astype(float).max()

245131.88

In [43]:
df.head(20)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.9,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.0,87082.62,110804.3,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.0,0.0,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.0,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.3,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.2,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.0,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.5,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN

### What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesnt match up

In [41]:
df.set_index('EmployeeName').loc['JOSEPH DRISCOLL'].loc['JobTitle']

'CAPTAIN, FIRE SUPPRESSION'

### How much does JOSEPH DRISCOLL make (including benefits)?

In [44]:
df.set_index('EmployeeName').loc['JOSEPH DRISCOLL'].loc['TotalPayBenefits']

270324.91

### What is the name of highest paid person (including benefits)?

In [80]:
max_pay =df['TotalPayBenefits'].max()
df.loc[df['TotalPayBenefits']== max_pay]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

### what is the name of the lowest paid person?

In [89]:
df.loc[df['TotalPayBenefits']== df['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

### What was the average BasePay of all employees per year? (2011- 2014)?

In [278]:
df.groupby('Year').mean()['BasePay']

KeyError: 'BasePay'

### What are the top five most common jobs?

In [116]:
df["JobTitle"].value_counts().iloc[0:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

### How many Job Titles were represented by only one person in 2013 (eg. Job Titles was only one occurance in 2013)?

In [143]:
one_person = df['JobTitle'].value_counts()==1
type(one_person)
len(one_person)
counter =0
for i in range(0, len(one_person)):
    if one_person[i]== True:
        counter+=1
    
print(counter)

239

### How many people have the word Chief in their job title?

In [265]:
df1 = df.copy()

df2 = df1['JobTitle']
df2
df2.count

<bound method Series.count of 0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                               NaN
148651                                               NaN
148652                                               NaN
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object>

In [284]:
df2.dropna(inplace = True)
counter = 0;
for i in range(0, len(df2)):
    if 'CHIEF' in df2.iloc[i].split() or 'chief' in df2.iloc[i].split():
        counter +=1
        continue
print(counter)

158

### Is there correlation between length of the Job Title string and Salary?

In [277]:
df3 = df[['JobTitle','TotalPay']]
df3.sort_values("TotalPay")

                                              JobTitle   TotalPay
148653                      Counselor, Log Cabin Ranch    -618.13
106745                             Recreation Director       0.00
106746                                Transit Operator       0.00
106747                                 Utility Plumber       0.00
106748                                    Clerk Typist       0.00
...                                                ...        ...
36159                     Lieutenant, Fire Suppression  362844.66
110532                               Asst Med Examiner  390111.98
110531                                  Deputy Chief 3  471952.64
1                      CAPTAIN III (POLICE DEPARTMENT)  538909.28
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  567595.43

[148654 rows x 2 columns]